/* custom.css */

h1 {
	font-size: 2.0rem;
	color: #24185E;
}

h2 {
	font-size: 1.5rem;
  color: #24185E;
}

h3 {
	font-size: 1.25rem;
  color:  #E61873 ;
}

code.literal {
	/* color: #E61873;  #CDD7F6 */
	/* color: #F8BAD5;  #CDD7F6 */
	color: #7B759A;  /* #CDD7F6 */
	font-size: 0.85rem;
}


.toctree-l2 {
	font-size: 0.85rem;
}

article {
	font-size: 0.9rem;
}

div.cell div.cell_input {
	padding-left: 0em;
	padding-right: 0em;
	border: 1px rgba(127, 127, 127, 0.1) solid;
	background-color: rgba(127, 127, 127, 0.1);
	border-left-color: hsl(126, 25%, 45%);
	border-left-width: medium;
}

.cell_output .output.text_plain, .cell_output .output.traceback, .cell_output .output.stream {
	border: 1px solid rgba(127, 127, 127, 0.0);
    background: rgba(127, 127, 127, 0.0);
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	box-shadow: none;
}

.cell_output .output.stderr {
	border: 1px solid rgba(127, 127, 127, 0.0);
    background: rgba(127, 127, 127, 0.0);
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0.25em;
	box-shadow: none;
    border-left-color: #cc7766;
    border-left-width: medium;
}

.cell_output {
	padding-left: 1em;
	padding-right: 0em;
	margin-top: 0em;
}

/* Attributs de classe */
dl.py.attribute {
    margin-left: 1em;
}

/* Nom de l'attribut */
dl.py.attribute > dt {
    font-weight: 600;
    color: var(--color-brand-primary);
}

/* Description */
dl.py.attribute > dd {
    margin-left: 1.5em;
    font-size: 0.95em;
}

/* Supprimer le type (-) visuellement */
dl.py.attribute em.property {
    display: none;
}
